
<div class="container">
<button type="button" (click)="modeCreateArret()" class="btn btn-secondary btn-lg btn-block">Créer un arrêt</button>
<button type="button" (click)="modeCreateDefi()" class="btn btn-secondary btn-lg btn-block">Créer un défi</button>
<button type="button" (click)="modeEditArret()" class="btn btn-primary btn-lg btn-block">Editer un arrêt</button>

 <!--<div class="form-group">
    <label for="exampleInputEmail1">Question</label>
    <input type="text" #question class="form-control" placeholder="Question">
    <br/>
    <input type="text" #secret class="form-control" placeholder="Secret">
    <br/>
    <input type="number" #pointsQuestion class="form-control" placeholder="Points">
  </div>
  <button class="btn btn-secondary"(click)="addQuestion(question.value,secret.value,pointsQuestion.value)">Ajouter</button>

<br>
<div class="table-responsive-lg">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Label</th>
      <th scope="col">Question</th>
      <th scope="col">Secret</th>
      <th scope="col">Points</th>
      <th scope="col">Modifier</th>
      <th scope="col">Supprimer</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let question of questions; let index = index;">
      <th scope="row">{{question.label_qst}}</th>
      <td *ngIf="labelEditedQuestion!==question.description_qst" (dblclick)="editMode(question.description_qst)">{{question.description_qst}} </td>
      <td *ngIf="labelEditedQuestion===question.description_qst"><input type="text" #newQuestion value="{{question.description_qst}}">
        <button type="submit" class="btn btn-outline-success" (click)="editQuestion(newQuestion.value,index)">Valider</button></td>

        <td *ngIf="labelEditedQuestion!==question.description_qst" (dblclick)="editMode(question.description_qst)">{{question.secret_qst}} </td>
      <td *ngIf="labelEditedQuestion===question.description_qst"><input type="text" #newSecret value="{{question.secret_qst}}">
        <button type="submit" class="btn btn-outline-success" (click)="editSecret(newSecret.value,index)">Valider</button></td>


        <td *ngIf="labelEditedQuestion!==question.description_qst" (dblclick)="editModeQuestion(question.description_qst)">{{question.points_qst}} </td>
        <td *ngIf="labelEditedQuestion===question.description_qst"><input type="number" #newPointsQuestion value="{{question.points_qst}}">
          <button type="submit" class="btn btn-outline-success" (click)="editQuestionPoints(newPointsQuestion.value,index)">Valider</button></td>

      <td *ngIf="labelEditedQuestion!==question.description_qst"><button type="submit" class="btn btn-outline-secondary" (click)="editModeQuestion(question.description_qst)">Editer</button></td>
      <td *ngIf="labelEditedQuestion===question.description_qst"><button type="submit" class="btn btn-outline-warning  " (click)="editQuestionAnnule()">Annuler</button></td>
      <td>
        <button class="btn btn-outline-danger" (click)="deleteQuestion(index)">Supprimer</button>
      </td>
    </tr>
  </tbody>
</table>
</div>
-->

<div *ngIf="createArret">
  <br/>
  <h2 style="text-align: center;">Debut formulaire création d'un arret</h2>
  <p><b>RECUP PAS DANS BDD</b></p>
   <form (ngSubmit)="recupLibNotIn(InputLibNotIn.value)">
     <div class="form-row">
       <div class="form-group col-md-6">
         <label>Libelle d'arret : </label>
         <input
           #InputLibNotIn
           class="form-control"
           name="InputAge"
           type="text"
           placeholder="Libelle"
         />
       </div>
     </div>
     <input class="btn btn-secondary" type="submit" />
   </form>
</div>

<div *ngIf="createDefi">
  <br/>
  <h2 style="text-align: center;">Debut formulaire création d'un défi</h2>
  <p><b>RECUP QUE DANS BDD</b></p>
  <form (ngSubmit)="recupLibIn(InputLib.value)">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Libelle d'arret : </label>
        <input
          #InputLib
          class="form-control"
          name="InputAge"
          type="text"
          placeholder="Libelle"
        />
      </div>
    </div>
    <input class="btn btn-secondary" type="submit" />
  </form>
</div>
<br/>
<div *ngIf="editArret">
  <br/>
  <h2 style="text-align: center;">Debut formulaire edit d'un défi</h2>
  <p><b>RECUP QUE DANS BDD</b></p>
  <form (ngSubmit)="recupLibIn(InputLib.value)">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Libelle d'arret : </label>
        <input
          #InputLib
          class="form-control"
          name="InputAge"
          type="text"
          placeholder="Libelle"
        />
      </div>
    </div>
    <input class="btn btn-secondary" type="submit" />
  </form>
</div>
</div>


<!--CREATION ARRET-->
<div *ngIf="obsArretInAPI | async as obsAPI" class="container">
  <div *ngIf="obsAPI.length !== 0" class="col-8">
    <button
      (click)="closeChoiceArretInAPI()"
      type="button"
      class="close"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span></button><br />
    <form (ngSubmit)="creationArret(InputStreetMap.value,listeArretNotInBDD.value)">
      <div class="form-group">
        <label for="exampleFormControlSelect2">Example multiple select</label>
        <select
          #listeArretNotInBDD
          multiple
          class="form-control"
          required
        >
          <option *ngFor="let unArret of obsAPI">
            {{
                "Commune : " +
                unArret.properties.COMMUNE +
                ", " +
                unArret.properties.LIBELLE+
                ", " +
                unArret.properties.CODE
            }}
          </option>
        </select>
        <label>Lien streetmap : </label>
        <textarea required #InputStreetMap class="form-control" rows="3"></textarea>
      </div>
      <input class="btn btn-secondary" type="submit" />
    </form>
  </div>
</div>


<div *ngIf="obsArretInBDD | async as obsBDD" class="container">

<!--EDITION ARRET-->
  <div *ngIf="obsBDD.length !== 0 && editArret === true" class="col-12">
    <button
      (click)="closeChoiceArretInBDD()"
      type="button"
      class="close"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span></button
    ><br />
    <form (ngSubmit)="updateArret(SelectArretEdit.value,InputEditStreetmap.value)">
      <div class="form-group">
        <label for="Arret">Arret</label>
        <select
          #SelectArretEdit
          multiple
          class="form-control"
          id="Arret"
          required
        >
          <option *ngFor="let unArret of obsBDD">
            {{
                "Commune : " +
                unArret.properties.COMMUNE +
                ", " +
                unArret.properties.LIBELLE+
                ", " +
                unArret.properties.CODE
            }}
          </option>
        </select>
        <label>Lien streetmap : </label>
        <textarea #InputEditStreetmap class="form-control" rows="3"></textarea>
      </div>
      <input class="btn btn-secondary" type="submit" />
    </form>
  </div>

<!--CREATION DEFI-->
  <!--
  <div *ngIf="obsBDD.length === 0 && !createArret" class="col-8">
    <div class="alert alert-warning" role="alert">
      Aucun arrêt trouvé, <a (click)="modeCreateArret()" class="alert-link">veuillez le créer</a>.
    </div>
  </div>
  -->
  <div *ngIf="obsBDD.length !== 0 && editArret === false" class="col-12">
    <button
      (click)="closeChoiceArretInBDD()"
      type="button"
      class="close"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span></button
    ><br />
    <form (ngSubmit)="creationDefi(InputTITRE.value, SelectType.value,SelectArret.value,InputDescription.value, InputVERSION.value, InputPOINTS.value, InputDUREE.value, InputPrologue.value, InputEpilogue.value, InputCommentaire.value, InputMotClef.value)">
      <div class="form-group">
        <label for="Arret">Arret</label>
        <select
          #SelectArret
          multiple
          class="form-control"
          id="Arret"
          required
        >
          <option *ngFor="let unArret of obsBDD">
            {{
                "Commune : " +
                unArret.properties.COMMUNE +
                ", " +
                unArret.properties.LIBELLE+
                ", " +
                unArret.properties.CODE
            }}
          </option>
        </select>

        <!--Une ligne 2 champs-->
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Titre : </label>
            <input #InputTITRE class="form-control" name="InputTITRE" type="text" placeholder="Titre"/>
          </div>
        </div>
        <!--Fin une ligne 2 champs-->


        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label for="type" class="input-group-text">Type</label>
          </div>
          <select
          #SelectType
          class="custom-select"
          id="type"
          required
        >
        <option>Enigme</option>
        <option>Challenge</option>
        </select>
        </div>



        <label>Description : </label>
        <textarea #InputDescription class="form-control" rows="3"></textarea>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Version : </label>
            <input #InputVERSION class="form-control" name="InputVersion" type="number" placeholder="Version"/>
          </div>
          <div class="form-group col-md-6">
            <label>Points : </label>
            <input #InputPOINTS class="form-control" name="InputPoints" type="number" placeholder="Points"/>
          </div>
          <div class="form-group col-md-6">
            <label>Durée : </label>
            <input #InputDUREE class="form-control" name="InputDuree" type="text" placeholder="Durée"/>
          </div>
        </div>

        <label>Prologue : </label>
        <textarea #InputPrologue class="form-control" rows="3"></textarea>

        <label>Epilogue : </label>
        <textarea #InputEpilogue class="form-control" rows="3"></textarea>

        <label>Commentaire : </label>
        <textarea #InputCommentaire class="form-control" rows="3"></textarea>


      </div>


      <!-- ################################QUESTION################################ -->
      <div class="form-group">
        <label for="exampleInputEmail1">Question</label>
        <input type="text" #question class="form-control" placeholder="Question">
        <br/>
        <input type="text" #secret class="form-control" placeholder="Secret">
        <br/>
        <input type="number" #pointsQuestion class="form-control" placeholder="Points">
      </div>
      <input type="button" value="Ajouter" class="btn btn-secondary"(click)="addQuestion(question.value,secret.value,pointsQuestion.value)"/>

    <br>
    <div class="table-responsive-lg">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Label</th>
          <th scope="col">Question</th>
          <th scope="col">Secret</th>
          <th scope="col">Points</th>
          <th scope="col">Modifier</th>
          <th scope="col">Supprimer</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let question of questions; let index = index;">
          <th scope="row">{{question.label_qst}}</th>
          <td *ngIf="labelEditedQuestion!==question.description_qst" (dblclick)="editMode(question.description_qst)">{{question.description_qst}} </td>
          <td *ngIf="labelEditedQuestion===question.description_qst"><input type="text" #newQuestion value="{{question.description_qst}}">
            <button type="submit" class="btn btn-outline-success" (click)="editQuestion(newQuestion.value,index)">Valider</button></td>

            <td *ngIf="labelEditedQuestion!==question.description_qst" (dblclick)="editMode(question.description_qst)">{{question.secret_qst}} </td>
          <td *ngIf="labelEditedQuestion===question.description_qst"><input type="text" #newSecret value="{{question.secret_qst}}">
            <button type="submit" class="btn btn-outline-success" (click)="editSecret(newSecret.value,index)">Valider</button></td>


            <td *ngIf="labelEditedQuestion!==question.description_qst" (dblclick)="editModeQuestion(question.description_qst)">{{question.points_qst}} </td>
            <td *ngIf="labelEditedQuestion===question.description_qst"><input type="number" #newPointsQuestion value="{{question.points_qst}}">
              <button type="submit" class="btn btn-outline-success" (click)="editQuestionPoints(newPointsQuestion.value,index)">Valider</button></td>

          <td *ngIf="labelEditedQuestion!==question.description_qst"><button type="submit" class="btn btn-outline-secondary" (click)="editModeQuestion(question.description_qst)">Editer</button></td>
          <td *ngIf="labelEditedQuestion===question.description_qst"><button type="submit" class="btn btn-outline-warning  " (click)="editQuestionAnnule()">Annuler</button></td>
          <td>
            <button class="btn btn-outline-danger" (click)="deleteQuestion(index)">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
    <!-- ################################QUESTION################################ -->



<!-- ################################INDICE################################ -->
      <div class="form-group">
        <label for="exampleInputEmail1">Indice</label>
        <input type="text" #indice class="form-control" placeholder="Indice">
        <br/>
        <input type="number" #points class="form-control" placeholder="Points">
      </div>
      <input type="button" value="Ajouter" class="btn btn-secondary"(click)="addElement(indice.value,points.value)"/>

    <br>
    <div class="table-responsive-lg">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Label</th>
          <th scope="col">Indice</th>
          <th scope="col">Points</th>
          <th scope="col">Modifier</th>
          <th scope="col">Supprimer</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let indice of indices; let index = index;">
          <th scope="row">{{indice.label_ind}}</th>
          <td *ngIf="labelEdited!==indice.label_ind" (dblclick)="editMode(indice.label_ind)">{{indice.description_ind}} </td>
          <td *ngIf="labelEdited===indice.label_ind"><input type="text" #newIndice value="{{indice.description_ind}}">
            <button  class="btn btn-outline-success" (click)="editIndice(newIndice.value,index)">Valider</button></td>
            <td *ngIf="labelEdited!==indice.label_ind" (dblclick)="editMode(indice.label_ind)">{{indice.points_ind}} </td>
            <td *ngIf="labelEdited===indice.label_ind"><input type="text" #newPoints value="{{indice.points_ind}}">
              <button  class="btn btn-outline-success" (click)="editIndicePoints(newPoints.value,index)">Valider</button></td>
          <td *ngIf="labelEdited!==indice.label_ind"><button  class="btn btn-outline-secondary" (click)="editMode(indice.label_ind)">Editer</button></td>
          <td *ngIf="labelEdited===indice.label_ind"><button  class="btn btn-outline-warning  " (click)="editIndiceAnnule()">Annuler</button></td>
          <td>
            <button class="btn btn-outline-danger" (click)="deleteElement(index)">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
    <!-- ################################INDICE################################ -->

      <label for="basic-url">Veuillez saisir les mots clefs associés au défi en les séparant avec un espace.</label>
      <input #InputMotClef type="text" class="form-control"  placeholder="Entrez les mots clefs séparés par des espaces.">


      <input class="btn btn-secondary" type="submit" />
    </form>
  </div>
</div>
