
<div class="container">
<button type="button" (click)="modeCreateArret()" class="btn btn-primary btn-lg btn-block">Créer un arrêt</button>
<button type="button" (click)="modeCreateDefi()" class="btn btn-secondary btn-lg btn-block">Créer un défi</button>

<div *ngIf="createArret">
  <br/>
  <h2 style="text-align: center;">Debut formulaire création d'un arret</h2>
  <p><b>RECUP PAS DANS BDD</b></p>
   <form (ngSubmit)="recupLibNotIn(InputLibNotIn.value)">
     <div class="form-row">
       <div class="form-group col-md-6">
         <label>Libelle d'arret : </label>
         <input
           #InputLibNotIn
           class="form-control"
           name="InputAge"
           type="text"
           placeholder="Libelle"
         />
       </div>
     </div>
     <input class="btn btn-secondary" type="submit" />
   </form>
</div>

<div *ngIf="createDefi">
  <br/>
  <h2 style="text-align: center;">Debut formulaire création d'un défi</h2>
  <p><b>RECUP QUE DANS BDD</b></p>
  <form (ngSubmit)="recupLibIn(InputLib.value)">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Libelle d'arret : </label>
        <input
          #InputLib
          class="form-control"
          name="InputAge"
          type="text"
          placeholder="Libelle"
        />
      </div>
    </div>
    <input class="btn btn-secondary" type="submit" />
  </form>
</div>
<br/>
</div>


<!--CREATION ARRET-->
<div *ngIf="obsArretInAPI | async as obsAPI" class="container">
  <div *ngIf="obsAPI.length !== 0" class="col-8">
    <button
      (click)="closeChoiceArretInAPI()"
      type="button"
      class="close"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span></button><br />
    <form (ngSubmit)="creationArret(InputStreetMap.value,listeArretNotInBDD.value)">
      <div class="form-group">
        <label for="exampleFormControlSelect2">Example multiple select</label>
        <select
          #listeArretNotInBDD
          multiple
          class="form-control"
          required
        >
          <option *ngFor="let unArret of obsAPI">
            {{
                "Commune : " +
                unArret.properties.COMMUNE +
                ", " +
                unArret.properties.LIBELLE+
                ", " +
                unArret.properties.CODE
            }}
          </option>
        </select>
        <label>Lien streetmap : </label>
        <textarea #InputStreetMap class="form-control" rows="3"></textarea>
      </div>
      <input class="btn btn-secondary" type="submit" />
    </form>
  </div>
</div>


<!--CREATION DEFI-->
<div *ngIf="obsArretInBDD | async as obsBDD" class="container">

  <!--
  <div *ngIf="obsBDD.length === 0 && !createArret" class="col-8">
    <div class="alert alert-warning" role="alert">
      Aucun arrêt trouvé, <a (click)="modeCreateArret()" class="alert-link">veuillez le créer</a>.
    </div>
  </div>
  -->

  <div *ngIf="obsBDD.length !== 0" class="col-8">
    <button
      (click)="closeChoiceArretInBDD()"
      type="button"
      class="close"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span></button
    ><br />
    <form (ngSubmit)="creationDefi(InputID.value,InputTITRE.value,SelectArret.value,InputDescription.value)">
      <div class="form-group">
        <label for="exampleFormControlSelect2">Example multiple select</label>
        <select
          #SelectArret
          multiple
          class="form-control"
          id="exampleFormControlSelect2"
          required
        >
          <option *ngFor="let unArret of obsBDD">
            {{
                "Commune : " +
                unArret.properties.COMMUNE +
                ", " +
                unArret.properties.LIBELLE+
                ", " +
                unArret.properties.CODE
            }}
          </option>
        </select>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label>ID du défi : </label>
            <input #InputID class="form-control" name="InputAge" type="text" placeholder="ID"/>
          </div>
          <div class="form-group col-md-6">
            <label>Titre : </label>
            <input #InputTITRE class="form-control" name="InputVille" type="text" placeholder="Titre"/>
          </div>
        </div>
        <label>Description : </label>
        <textarea #InputDescription class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <input class="btn btn-secondary" type="submit" />
    </form>
  </div>
</div>
