yaga-map {
    height: 480px;
  }

.content-map {
}
.pointer {cursor: pointer;}

div.my-google-map, google-map{
  margin: 0;
  padding: 0;
  width: 100% !important;
  height: 100% !important;
  display:flex;
}

.card.card-body{
  height: 450px;
}


