<mat-drawer-content class="content-map">
  <yaga-map [lng]="5.724524" [lat]="45.188529" [zoom]="12">
    <yaga-tile-layer [(url)]="tileLayerUrl"></yaga-tile-layer>

    <section *ngIf="obsArrets | async as DesArrets">
      <yaga-marker
        *ngFor="let UnArret of DesArrets; let j = index"
        (click)="displayDefi(j)"
        [lng]="+UnArret.info_arret.geometry.coordinates[0]"
        [lat]="+UnArret.info_arret.geometry.coordinates[1]"
        [display]="true"
        [opacity]="1"
      >
        <yaga-icon [iconUrl]="getUrlMarker(UnArret.nb_defi)"></yaga-icon>
      </yaga-marker>
    </section>

    <section *ngIf="obsLignes | async as lignes">
      <yaga-polyline
        *ngFor="let ligne of lignes; let i = index"
        [color]="colorationLines(i)"
        [geoJSON]="ligne"
      >
      </yaga-polyline>
    </section>
  </yaga-map>
  <br />
  <br />
  <br />
  <div class="container" *ngIf="obsUnArret | async as Defis">
    <div *ngIf="Defis.length !== 0" class="table">
      <button
        (click)="closeDefi()"
        type="button"
        class="close"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      <table class="table table-hover" >
        <thead class="thead-dark">
          <tr>
            <th>Defi</th>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Date de création</th>
          </tr>
        </thead>
        <tbody>
          <tr class="pointer" (click)="tstAffichage(Defi)" *ngFor="let Defi of Defis">
            <td>{{ Defi.defi }}</td>
            <td>{{ Defi.titre }}</td>
            <td>{{ Defi.auteur }}</td>
            <td>{{ Defi.dateDeCreation }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--je sais pas si j'ai le getter dans map.compo attendez, defiService.defiCourant ?
    Non la on utilise le service map pour publier celui q'on affiche obsDefiAffiche-->
      <app-fiche-defi [defi] = "obsDefiAffiche | async"></app-fiche-defi>
    <br/>
  </div>
</mat-drawer-content>
