<div class="container">
  <section *ngIf="obsUser | async as OneUser;else elseDoThat">
    <section *ngIf="OneUser.chami === undefined">
    <app-alert-con [userRecu]="OneUser"></app-alert-con>
    </section>

      <section *ngIf="OneUser.chami !== undefined">
      <br />
      <br />
        <h1 style="text-align: center">
          Bienvenue {{ OneUser.chami.pseudo }} !
        </h1>
        <hr />
        <!--COMPOSANT GESTION DU PROFIL-->
        <app-gest-profil [userRecu]="OneUser"></app-gest-profil>
        <hr />
        <br />
        <div class="container" id="collapseGroup">
        <p>
          <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapseVisite" aria-expanded="false" aria-controls="collapseVisite">
            Vos visites
          </button>
          &nbsp;
          <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapseDefi" aria-expanded="false" aria-controls="collapseDefi">
            Vos défis
          </button>
        </p>
        <br />
        <div class="collapse" id="collapseVisite" data-parent="#collapseGroup" >
        <app-affiche-visite></app-affiche-visite>
      </div>
        <br />
        <div class="collapse" id="collapseDefi" data-parent="#collapseGroup" >
        <app-edit-defi></app-edit-defi>
      </div>
    </div>
      </section>
    </section>

    <ng-template #elseDoThat>
      <app-alert-co-necessaire></app-alert-co-necessaire>
    </ng-template>

</div>
