

  <header id="entete">
     <!-- <h1 id="text">Chamis</h1> -->
      <img src="https://firebasestorage.googleapis.com/v0/b/pi-g8-miage.appspot.com/o/accueil%2Ffond.jpg?alt=media&token=7c89243f-8a17-486b-b10f-12a20720e7e7" id="fond"/>
      <img src="https://firebasestorage.googleapis.com/v0/b/pi-g8-miage.appspot.com/o/accueil%2Flogo.png?alt=media&token=94b95eb6-58f0-41d9-8a69-616ac21171ec" id="logo"/>
  </header>

  <div class="cont">
      <hr>

      <div class="description">
          <h1>Qui Sommes Nous ?</h1>
          <div class="paragraphe">
              <p>Les membres de la communauté des ChaMis échangent depuis 1 an des défis
                  et les évaluent. Au départ ces défis étaient décrits sous forme de mails,
                  d'échanges dans des réseaux sociaux ou encore sous forme de documents dans le cloud.
                  La multiplicité des formats a montré les limites de ce système d'échange informel.
                  Certains ChaMis, agguéris aux secrets de l'informatique ont proposé de concentrer les
                  ChaMis dans un dépot GitHub et de les stocker dans un format Yaml.
              </p>
              <br/>
              <p>
                  Tout le monde dans la communauté n'étant pas capable d'utiliser GitHub (bien que la
                  proposition soit d'utiliser uniquement l'interface graphique) les "geeks" ont proposé
                  de faire les modifications à la place des autres ChaMis. Cette solution est en place
                  depuis plusieurs mois mais elle n'est pas viable. Il est par ailleurs très difficile
                  d'avoir une vision globale des différents défis et de leur répartition géographique
                      sur l'agglomération. Il a donc été décidé de s'approcher de l'Université Grenoble
                      Alpes et plus particulièrement de la promotion L3MIAGE 2020-2021. La mission confiée
                      aux groupes d'étudiants est de réaliser un prototype permettant de concevoir,
                      valider et cartographier des ChaMis. Le projet s'appelle CyberChaMis.
              </p>
          </div>
          <div class="cen">

            <div class="detail">
              <i class="fas fa-bullseye"></i>
              <h2>Les Defis</h2>
              <p>C'est le cœur du système d'information de la communauté des chamis.
                   Ce sont les descriptions de défis à relever.
              </p>
            </div>

            <div class="detail">
              <i class="far fa-map"></i>
              <h2>Les Visites</h2>
              <p>Lorsqu'un chamis va sur le terrain pour relever un défi on dit qu'il
                   fait une "visite". Il est "visiteur". Pendant la visite il suit les
                   instructions, demande éventuellement des indices et répond aux
                   questions le cas échéant.
              </p>
            </div>

            <div class="detail">
              <i class="fab fa-angellist"></i>
              <h2>Les Chamis</h2>
              <p>Leur identité n'est pas révélée mais différentes informations sont
                  associées à leurs comptes.
              </p>
            </div>


          </div>
        </div>

      <hr>

      <div class="wrapper">
          <h1>Notre Equipe</h1>
          <hr style="width:10vw; margin-bottom: 10vh;">
          <div class="team">
              <div class="team_member">
                  <div class="team_img">
                      <img src="https://firebasestorage.googleapis.com/v0/b/pi-g8-miage.appspot.com/o/accueil%2Fportraits%2Fym.jpg?alt=media&token=878d704a-de48-4dd8-9844-4264d48ec121" alt="Team_image">
                  </div>
                  <h3>Yanis Mokni</h3>
                  <p class="role">Chef de Projet</p>
                  <div class="social-media">
                      <a href="https://github.com/l3miage-mokniy"><i class="fab fa-github-square"></i></a>
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                      <a href="https://www.linkedin.com/in/yanis-mokni/"><i class="fab fa-linkedin"></i></a>
                  </div>
                  <p>
                    <br/>
                    Mon travail sur le projet :<br/><br/>
                    - Gestion du Projet<br/>
                    - Partie Client<br/>
                    - Partie Serveur Metier<br/>
                    - Gestion Firebase/Heroku<br/>
                  </p>
              </div>
              <div class="team_member">
                  <div class="team_img">
                      <img src="https://firebasestorage.googleapis.com/v0/b/pi-g8-miage.appspot.com/o/accueil%2Fportraits%2Fkb.jpg?alt=media&token=6b68d67f-19c7-430a-bc0f-ad36e3347f0a" alt="Team_image">
                  </div>
                  <h3>Kantin Boucher</h3>
                  <p class="role">Developpeur</p>
                  <div class="social-media">
                      <a href="https://github.com/l3miage-boucheka"><i class="fab fa-github-square"></i></a>
                      <a href="https://www.facebook.com/kantin.boucher"><i class="fab fa-facebook-f"></i></a>
                      <a href="https://www.linkedin.com/in/kantin-boucher/"><i class="fab fa-linkedin"></i></a>
                  </div>
                  <p>
                    <br/>
                    Mon travail sur le projet :<br/><br/>
                    - Partie Serveur Metier<br/>
                    - Gestion BDD<br/>
                    - Page d'accueil<br/>
                  </p>
              </div>
              <div class="team_member">
                  <div class="team_img">
                      <img src="https://firebasestorage.googleapis.com/v0/b/pi-g8-miage.appspot.com/o/accueil%2Fportraits%2Fgb.jpg?alt=media&token=aa7551b3-10f7-4442-963e-4fa2cfd3e952" alt="Team_image">
                  </div>
                  <h3>Guillaume Briançon</h3>
                  <p class="role">Developpeur</p>
                  <div class="social-media">
                      <a href="https://github.com/l3miage-briancgu"><i class="fab fa-github-square"></i></a>
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                      <a href="https://www.linkedin.com/in/guillaume-brian%C3%A7on-267620189/"><i class="fab fa-linkedin"></i></a>
                  </div>
                  <p>
                    <br/>
                    Mon travail sur le projet :<br/><br/>
                    - Partie Client<br/>
                    - Gestion BDD<br/>
                  </p>
              </div>
              <div class="team_member">
                  <div class="team_img">
                      <img src="https://firebasestorage.googleapis.com/v0/b/pi-g8-miage.appspot.com/o/accueil%2Fportraits%2Fml.jpg?alt=media&token=46a4651e-2c00-4d24-860f-85ea44432558" alt="Team_image">
                  </div>
                  <h3>Mamadou Balde</h3>
                  <p class="role">Developpeur</p>
                  <div class="social-media">
                      <a href="https://github.com/l3miage-baldemam"><i class="fab fa-github-square"></i></a>
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                      <a href="https://www.linkedin.com/in/mamadou-lamine-balde-7b703b134/"><i class="fab fa-linkedin"></i></a>
                  </div>
                  <p>
                    <br/>
                    Mon travail sur le projet :<br/><br/>
                    - Partie Serveur Metier<br/>
                    - Gestion BDD<br/>
                  </p>
              </div>
              <div class="team_member">
                  <div class="team_img">
                      <img src="https://firebasestorage.googleapis.com/v0/b/pi-g8-miage.appspot.com/o/accueil%2Fportraits%2Ftm.jpg?alt=media&token=9c773f2f-7885-40cd-8c70-6faeb2655e95" alt="Team_image">
                  </div>
                  <h3>Thierno Bah</h3>
                  <p class="role">Developpeur</p>
                  <div class="social-media">
                      <a href="https://github.com/l3miage-baht"><i class="fab fa-github-square"></i></a>
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                      <a href="https://www.linkedin.com/in/bah-thierno/"><i class="fab fa-linkedin"></i></a>
                  </div>
                  <p>
                    <br/>
                    Mon travail sur le projet :<br/><br/>
                    - Partie Client<br/>
                  </p>
              </div>
              <div class="team_member">
                  <div class="team_img">
                      <img src="https://firebasestorage.googleapis.com/v0/b/pi-g8-miage.appspot.com/o/accueil%2Fportraits%2Fjr.jpg?alt=media&token=94185767-9bcd-4ba3-aef9-a46f232bf35f" alt="Team_image">
                  </div>
                  <h3>Julien Rey</h3>
                  <p class="role">Developpeur</p>
                  <div class="social-media">
                      <a href="https://github.com/l3miage-reyjul"><i class="fab fa-github-square"></i></a>
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                      <a href="https://www.linkedin.com/in/julien-rey-7177921bb/"><i class="fab fa-linkedin"></i></a>
                  </div>
                  <p>
                    <br/>
                    Mon travail sur le projet :<br/><br/>
                    - Partie Serveur Metier<br/>
                    - Gestion BDD<br/>
                  </p>
              </div>
          </div>
      </div>

      <hr>
  </div>

<!-- footer -->
<footer>
<div class="footer-container">
<div class="col">
  <img src="https://firebasestorage.googleapis.com/v0/b/pi-g8-miage.appspot.com/o/accueil%2Flogo.png?alt=media&token=94b95eb6-58f0-41d9-8a69-616ac21171ec" alt="" class="logo">
  <div class="social-media">
    <small>GitSrv</small>
    <a href="https://github.com/l3miage-mokniy/l3m-PI-serveur-G8" alt="Lien Serveur"><i class="fab fa-github-square" alt="Lien Serveur"></i></a>
    <a href="https://github.com/l3miage-mokniy/l3m-PI-client-G8" alt="Lien Client"><i class="fab fa-github-square" alt="Lien Client"></i></a>
    <small>GitCli</small>
  </div>
  <p class="rights-text">© 2021 Créé par le GRP8, Tous Droits Réservés.</p>
</div>


</div>
</footer>
<!-- // footer -->
