<header id="entete">
  <!-- <h1 id="text">Chamis</h1> -->
  <img
    src="https://firebasestorage.googleapis.com/v0/b/pi-g8-miage.appspot.com/o/accueil%2Ffond.jpg?alt=media&token=7c89243f-8a17-486b-b10f-12a20720e7e7"
    id="fond" />
  <img
    src="https://firebasestorage.googleapis.com/v0/b/pi-g8-miage.appspot.com/o/accueil%2Flogo.png?alt=media&token=94b95eb6-58f0-41d9-8a69-616ac21171ec"
    id="logo" />
</header>

<div class="cont">
  <hr>

  <div class="wrapper">
    <h1>Notre Equipe</h1>
    <hr style="width:10vw; margin-bottom: 10vh;">
    <div class="team">
      <div class="team_member">
        <div class="team_img">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/pi-g8-miage.appspot.com/o/accueil%2Fportraits%2Fym.jpg?alt=media&token=878d704a-de48-4dd8-9844-4264d48ec121"
            alt="Team_image">
        </div>
        <h3>Yanis Mokni</h3>
        <p class="role">Chef de Projet</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum
          aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
      </div>
      <div class="team_member">
        <div class="team_img">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/pi-g8-miage.appspot.com/o/accueil%2Fportraits%2Fkb.jpg?alt=media&token=6b68d67f-19c7-430a-bc0f-ad36e3347f0a"
            alt="Team_image">
        </div>
        <h3>Kantin Boucher</h3>
        <p class="role">Developpeur</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum
          aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
      </div>
      <div class="team_member">
        <div class="team_img">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/pi-g8-miage.appspot.com/o/accueil%2Fportraits%2Fgb.jpg?alt=media&token=aa7551b3-10f7-4442-963e-4fa2cfd3e952"
            alt="Team_image">
        </div>
        <h3>Guillaume Briançon</h3>
        <p class="role">Developpeur</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum
          aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
      </div>
      <div class="team_member">
        <div class="team_img">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/pi-g8-miage.appspot.com/o/accueil%2Fportraits%2Fml.jpg?alt=media&token=46a4651e-2c00-4d24-860f-85ea44432558"
            alt="Team_image">
        </div>
        <h3>Mamadou Balde</h3>
        <p class="role">Developpeur</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum
          aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
      </div>
      <div class="team_member">
        <div class="team_img">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/pi-g8-miage.appspot.com/o/accueil%2Fportraits%2Ftm.jpg?alt=media&token=9c773f2f-7885-40cd-8c70-6faeb2655e95"
            alt="Team_image">
        </div>
        <h3>Thierno Aliou</h3>
        <p class="role">Developpeur</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum
          aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
      </div>
      <div class="team_member">
        <div class="team_img">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/pi-g8-miage.appspot.com/o/accueil%2Fportraits%2Fjr.jpg?alt=media&token=94185767-9bcd-4ba3-aef9-a46f232bf35f"
            alt="Team_image">
        </div>
        <h3>Julien Rey</h3>
        <p class="role">Developpeur</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum
          aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
      </div>
    </div>
  </div>

  <hr>
</div>
