
@font-face{
  font-family:"legend";
  src:url("/assets/fonts/STEPS\ Light.otf") format("woff"),
  url("/assets/fonts/STEPS\ Light.otf") format("opentype"),
  url("/assets/fonts/STEPS\ Light.otf") format("truetype");
}



//Debut Head
header{
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: black;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
header::before{
position: absolute;
bottom: 0;
width: 100%;
height: 75px;
background: linear-gradient(to top, rgba(0,0,0,0.5), transparent);
z-index: 10000;
}
header:hover #fond{
filter: blur(0px);
-webkit-filter: blur(0px);
transition: all 1000ms;
}
header:hover #logo{
filter: blur(5px);
-webkit-filter: blur(5px);
transition: all 1000ms;
}
#fond{
position: absolute;
top: 0;
left: 0;
height: 100vh;
width: 100%;
filter: blur(5px);
-webkit-filter: blur(5px);
transition: all 1000ms;
}
#logo{
  z-index: 1;
  width: 40vw;
  max-width: 550px;
  filter: blur(0px);
  -webkit-filter: blur(0px);
  transition: all 1000ms;
}

//Fin Head





//Debut Contenu
hr{
  width: 40vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  color: #3498db;
}
div.cont{
  position:  relative;
  width: 100%;
  top: 100vh;
}


//Infos

.description h1{
display: inline-block;
text-transform: uppercase;
font-family: legend;
font-size: 30px;
text-align: center;
text-shadow: 2px 1px #00000075;
padding-bottom: 10px;
margin-bottom: 5vh;
position: relative;
left: 50%;
transform: translateX(-50%);
}
.description .paragraphe{
font-size: 17.5px;
text-align: center;
padding-bottom: 10px;
margin-bottom: 5vh;
width: 75%;
position: relative;
left: 50%;
transform: translateX(-50%);
}
.cen{
max-width: 1200px;
margin: auto;
overflow: hidden;
padding: 20px;
}
.detail{
display: inline-block;
width: calc(100% / 3);
margin: 0 -2px;
padding: 20px;
box-sizing: border-box;
cursor: pointer;
transition: 0.4s;
}
.detail:hover{
background: #ddd;
}
.detail i{
color: #3498db;
font-size: 34px;
margin-bottom: 30px;
}
.detail h2{
font-size: 18px;
text-transform: uppercase;
font-weight: 500;
margin: 0;
}
.detail p{
color: gray;
font-size: 15px;
font-weight: 500;
}
@media screen and (max-width: 800px) {
.detail{
  width: 50%;
}
}
@media screen and (max-width: 500px) {
.detail{
  width: 100%;
}
}


//Fin infos




//Equipe

.wrapper h1{
font-family: legend;
font-size: 30px;
margin-bottom: 5vh;
text-align: center;
text-shadow: 2px 1px #00000075;
}

.team{
display: flex;
justify-content: center;
width: auto;
text-align: center;
flex-wrap: wrap;
}

.team .team_member{
background: #fff;
margin: 10px;
margin-bottom: 75px;
width: 300px;
padding: 20px;
line-height: 20px;
color: #8e8b8b;
position: relative;
box-shadow: 0px 0px 10px 5px #888888;
}

.team .team_member h3{
color: #3b7ea5;
font-size: 26px;
margin-top: 50px;
}

.team .team_member p.role{
color: #ccc;
margin: 12px 0;
font-size: 12px;
text-transform: uppercase;
}

.team .team_member .team_img{
position: absolute;
top: -50px;
left: 50%;
transform: translateX(-50%);
width: 100px;
height: 100px;
background: #fff;
border-radius: 55px;
box-shadow: 0px 0px 10px 5px #888888;
}

.team .team_member .team_img img{
position: relative;
width: 100px;
height: 100px;
padding: 5px;
border-radius: 55px;

}

//Fin Equipe


/*Fin Contenu*/




//FOOTER
footer{
text-align: center;
}

.footer-container{
width:100%;
padding: 0 20px;
display: flex;
align-items: center;
flex-wrap: wrap-reverse;
position: relative;
top: 100vh;
}

.logo{
width: 180px;
}

footer .social-media{
  margin: 10px;
}

.social-media{
text-align: center;
margin: 5px;
}

.social-media a{
color: #001a21;
margin: 5px;
font-size: 25px;
text-decoration: none;
transition: .3s linear;
}

.social-media a:hover{
color: #3b7ea5;
}
.col{
margin: auto;
}
.rights-text{
text-align: center;
}









//Fin footer
