<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Menu">
    <mat-icon (click)="drawer.toggle()">menu</mat-icon>
  </button>
  <label> Projet intégrateur </label>
  <label class="spacer"></label>
  <ng-template #showLogin>
    <mat-icon [matMenuTriggerFor]="menuConnect"> account_circle </mat-icon>
  </ng-template>
  <mat-icon *ngIf="obsLogin | async as user; else showLogin" [matMenuTriggerFor]="menuDisconnect">
    <img src={{user.photoURL}}/>
  </mat-icon>
  <mat-menu #menuConnect="matMenu">
    <button (click)="login()" mat-menu-item>
      <img [src]="dataIconGoogle" width="24" height="24" />
      &nbsp;
      <span>Compte Google</span>
    </button>
  </mat-menu>
  <mat-menu #menuDisconnect="matMenu">
    <button (click)="logout()" mat-menu-item>
      <mat-icon>logout</mat-icon>
      <span>Déconnexion</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-drawer-container class="example-container">
  <mat-drawer #drawer mode="over" >
  <br/>
    <button  (click)="drawer.toggle()" routerLink="accueil" routerLinkActive="active" style="border-radius:1em;" class="dropdown-item">Accueil</button><br/>
    <button  (click)="drawer.toggle()" routerLink="gestion_profil" routerLinkActive="active" style="border-radius:1em;" class="dropdown-item">Gérer son profil</button><br/>
    <button  (click)="drawer.toggle()" routerLink="creer_defi" routerLinkActive="active" style="border-radius:1em;" class="dropdown-item">Créer ton défis</button><br/>
    <button  (click)="drawer.toggle()" routerLink="jouer" routerLinkActive="active" style="border-radius:1em;" class="dropdown-item">Participe à un défi</button><br/>
    <button  (click)="drawer.toggle()" routerLink="communaute" routerLinkActive="active" style="border-radius:1em;" class="dropdown-item">Découvre la communautée</button><br/>
    <button  (click)="drawer.toggle()" routerLink="" routerLinkActive="active" style="background-color: rgb(236, 195, 9); border-radius:1em;"class="dropdown-item">L'assistant \!/Beta Test\!/</button><br/>
  </mat-drawer>
  <mat-drawer-content>

    <div class="container">
      <br/>
      <router-outlet></router-outlet>
      <br/>
    </div>

  </mat-drawer-content>
</mat-drawer-container>

