<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Menu">
    <mat-icon (click)="drawer.toggle()">menu</mat-icon>
  </button>
  <label>
    Projet intégrateur
  </label>
  <label class="spacer"></label>
  <ng-template #showLogin>
    <mat-icon [matMenuTriggerFor]="menuConnect">
      account_circle
    </mat-icon>
  </ng-template>
  <mat-icon *ngIf="obsLogin | async as user; else showLogin" [matMenuTriggerFor]="menuDisconnect">
    account_circle
  </mat-icon>
  <mat-menu #menuConnect="matMenu">
    <button (click)="login()" mat-menu-item>
      <img [src]="dataIconGoogle" width="24" height="24" />
      &nbsp;
      <span>Compte Google</span>
    </button>
  </mat-menu>
  <mat-menu #menuDisconnect="matMenu">
    <button (click)="logout()" mat-menu-item>
      <mat-icon>logout</mat-icon>
      <span>Déconnexion</span>
    </button>
  </mat-menu>
</mat-toolbar>

<h1>Bonjour</h1>

<section *ngIf="obsUser | async as OneUser">
  <section *ngIf="OneUser.chami === undefined">
    <p>Bonjour, bienvenu sur le site des Chamis ! Veuillez saisir votre âge pour confirmer votre inscription avec
      l'email : {{OneUser.oauthUser.email}} </p>
    <form (ngSubmit)="createUser(InputName.value,InputAge.value,InputVille.value,InputDescription.value)">
      <label>Age:</label>
      <input #InputAge           name = "InputAge" type="number" />
      <label>Ville:</label>
      <input #InputVille name="InputVille" type="string" />
      <label>Description:</label>
      <input #InputDescription name="InputDescription" type="string" />
      <input hidden #InputName   name  = "InputName" type="text" value="{{OneUser.oauthUser.email}}" />
      <input type="submit" />
      <!--<button (click)="createUserV2(InputName.value,InputAge.value)">SUBMIT AVEC BUTTON</button>-->
    </form>
  </section>
</section>


<!--{{obsUser | async | json}}-->


<mat-drawer-container class="example-container">
  <mat-drawer-content>
    <mat-drawer #drawer [mode]="mode.value">
      Placez votre menu ici...
    </mat-drawer>
    <mat-form-field>
      <button>
      </button>
      <mat-label>Sidenav mode</mat-label>
      <mat-select #mode value="push">
        <mat-option value="side">Side</mat-option>
        <mat-option value="over">Over</mat-option>
        <mat-option value="push">Push</mat-option>
      </mat-select>
    </mat-form-field>

    <yaga-map [lng]="5.724524" [lat]="45.188529" [zoom]="12">
      <yaga-tile-layer [(url)]="tileLayerUrl"></yaga-tile-layer>

      <yaga-marker  *ngFor="let arret of arrets; let j = index" (click)="displayDefi(j)" [lng]="arret.geometry.coordinates[0]" [lat]="arret.geometry.coordinates[1]" [display]="true" [opacity]="1">
        <yaga-icon [iconUrl]="iconMarker"></yaga-icon>
      </yaga-marker>

      <yaga-polyline *ngFor="let Ligne of lignes; let i = index" [color]="colorationLines(i)" [geoJSON]="lignes[i]">
      </yaga-polyline>

    </yaga-map>

    <br />
    <br />
    <div class="row">
      <button class="col" (click)="recupUser()">RECUPERER LES CHAMIS</button>
    </div>
    <div class="row">
      <table *ngIf="obsChamis | async as users" class="col">
        <thead>
          <tr>
            <th colspan="3">Chamis</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>login</th>
            <th>age</th>
            <th>description</th>
          </tr>
          <tr *ngFor="let User of users">
            <td>{{User.pseudo}}</td>
            <td>{{User.age}}</td>
            <td>{{User.description}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <br />
    <br />

    <div class="row">
      <button class="col" (click)="recupDefi()">RECUPERER LES DEFIS</button>
    </div>
    <div class="row">
      <table *ngIf="obsDefis | async as Defis" class="col">
        <thead>
          <tr>
            <th colspan="5">Défis</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Defi</th>
            <th>titre</th>
            <th>description</th>
            <th>auteur</th>
            <th>dateCreation</th>
            <th>code arret</th>
          </tr>
          <tr *ngFor="let Defi of Defis">
            <td>{{Defi.defi}}</td>
            <td>{{Defi.titre}}</td>
            <td>{{Defi.description}}</td>
            <td>{{Defi.auteur}}</td>
            <td>{{Defi.dateDeCreation}}</td>
            <td>{{Defi.code_arret}}</td>
          </tr>
        </tbody>
      </table>
      <br />
      <br />
    </div>
    <br />
    <button (click)="tstv2()">tst</button>
    new user publie :
    {{tst|async|json}}
    <br />

    Notre user : {{obsUser | async | json}}
    <br />
    <br />
    <br />
    <br />
    <p>UPDATE DU COMPTE EN LIGNE</p>
    <section *ngIf="obsUser | async as OneUser">
      <section *ngIf="OneUser.chami !== undefined">
        <form (ngSubmit)="updateUser(InputAge.value,InputVille.value,InputDescription.value,InputMail.value)">
          <label>Age : </label>
          <input #InputAge name= "InputAge" type="number" value="{{OneUser.chami.age}}" />
          <br>
          <label>Ville : </label>
          <input #InputVille name= "InputVille" type="text" value="{{OneUser.chami.ville}}" />
          <br>
          <label>Description : </label>
          <input #InputDescription name= "InputDescription" type="text" value="{{OneUser.chami.description}}" />
          <input hidden #InputMail     name      = "InputMail" type="text" value="{{OneUser.oauthUser.email}}" />
          <br>
          <input type="submit" />
          <!--<button (click)="createUserV2(InputName.value,InputAge.value)">SUBMIT AVEC BUTTON</button>-->
        </form>
      </section>
    </section>
    <br />
    <br />
    <br />
    <table class="table" *ngIf="obsChallUser | async as Defis" class="col">
      <thead>
        <tr>
          <th colspan="5">Défis</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Defi</th>
          <th>titre</th>
          <th>description</th>
          <th>auteur</th>
          <th>dateCreation</th>
        </tr>
        <tr (click)="editedModeForDefi(Defi)" *ngFor="let Defi of Defis">
          <td>{{Defi.defi}}</td>
          <td>{{Defi.titre}}</td>
          <td>{{Defi.description}}</td>
          <td>{{Defi.auteur}}</td>
          <td>{{Defi.dateDeCreation}}</td>
        </tr>
      </tbody>
    </table>
    <br />


    <!--METTRE EN PLACE DES PARTIALS-->
    <!--METTRE EN PLACE LIST ARRET-->
    <section *ngIf="defi_edited !== null">
      <form (ngSubmit)= "updateDefi({
        defi:defi_edited.defi,
        titre:InputTitre.value,
        dateDeCreation: defi_edited.dateDeCreation,
        description: InputDescription.value,
        auteur: defi_edited.auteur,
        code_arret:  defi_edited.code_arret,
        type: '',
        dateDeModification:'',
        version:2,
        arret:'',
        points:18,
        duree:'',
        prologue:'',
        epilogue:'',
        commentaire:''})">

        <label>Defi : {{defi_edited.defi}}</label>
        <br/>
        <label>Titre : </label>
        <input #InputTitre name= "InputTitre" type="text" value="{{defi_edited.titre}}" />
        <br/>
        <label>Description : </label>
        <textarea #InputDescription style=" display: inline-block; resize: none; width:75%;" name="InputDescription" rows="3" value="{{defi_edited.description}}"></textarea>
        <br/>
        <input type="submit" />

      </form>
    </section>
    <br />
    <!--Test bootstrap-->
      <button type="button" class="btn btn-primary">Primary</button>
      <button type="button" class="btn btn-secondary">Secondary</button>
    <!--####################-->

  </mat-drawer-content>
</mat-drawer-container>
