  <mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Menu">
    <mat-icon (click)="drawer.toggle()">menu</mat-icon>
  </button>
  <label>
    Projet intégrateur
  </label>
  <label class="spacer"></label>
  <ng-template #showLogin>
  <mat-icon [matMenuTriggerFor]="menuConnect">
    account_circle
  </mat-icon>
</ng-template>
  <mat-icon *ngIf="obsLogin | async as user; else showLogin" [matMenuTriggerFor]="menuDisconnect">
    account_circle
  </mat-icon>
  <mat-menu #menuConnect="matMenu">
    <button (click)="login()" mat-menu-item>
      <img [src]="dataIconGoogle" width="24" height="24"/>
      &nbsp;
      <span>Compte Google</span>
    </button>
  </mat-menu>
  <mat-menu #menuDisconnect="matMenu">
    <button (click)="logout()" mat-menu-item>
      <mat-icon>logout</mat-icon>
      <span>Déconnexion</span>
    </button>
  </mat-menu>
</mat-toolbar>


<form *ngIf="true"  (ngSubmit) = "createUserV2(InputName.value,InputAge.value)" >
  <label>Age:</label>
    <input
          #InputAge
          name      = "InputAge"
          type="number"
           />
    <label>Pseudo:</label>
    <input
          #InputName
          name      = "InputName"
          type="text"
    />
    <input type="submit"/>
    <!--<button (click)="createUserV2(InputName.value,InputAge.value)">SUBMIT AVEC BUTTON</button>-->
</form>



{{obsLogin | async | json}}

  <button (click)="recupUser()">RECUPERER LES USERS</button>
  <table *ngIf="obsUsers | async as users">
    <thead>
        <tr>
            <th colspan="2">Utilisateurs</th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td>login</td>
        <td>age</td>
        </tr>
        <tr *ngFor="let User of users">
            <td>{{User.login}}</td>
            <td>{{User.age}}</td>
        </tr>
    </tbody>
  </table>
  <br/>
  <br/>
  <button (click)="recupDefi()">RECUPERER LES DEFIS</button>
  <table *ngIf="obsChallenges | async as challenges">
    <thead>
        <tr>
            <th colspan="5">Défis</th>
        </tr>
    </thead>
    <tbody>
      <tr>
            <td>Defi</td>
            <td>titre</td>
            <td>description</td>
            <td>auteur</td>
            <td>dateCreation</td>
        </tr>
        <tr *ngFor="let Challenge of challenges">
            <td>{{Challenge.id}}</td>
            <td>{{Challenge.titre}}</td>
            <td>{{Challenge.description}}</td>
            <td>{{Challenge.auteur}}</td>
            <td>{{Challenge.dateDeCreation}}</td>
        </tr>
    </tbody>
  </table>

<mat-drawer-container class="example-container">
  <mat-drawer #drawer [mode]="mode.value">
    Placez votre menu ici...
  </mat-drawer>
  <mat-drawer-content>
    <mat-form-field>
      <button>
      </button>
      <mat-label>Sidenav mode</mat-label>
      <mat-select #mode value="push">
        <mat-option value="side">Side</mat-option>
        <mat-option value="over">Over</mat-option>
        <mat-option value="push">Push</mat-option>
      </mat-select>
    </mat-form-field>

    <yaga-map [lng]="5.724524" [lat]="45.188529" [zoom]="12">
      <yaga-tile-layer [(url)]="tileLayerUrl"></yaga-tile-layer>
      <yaga-marker  [lng] = "5.724524"
                    [lat] = "45.188529"
                    [display] = "true"
                    [opacity] = "1"
                    >
        <yaga-icon [iconUrl]="iconMarker"></yaga-icon>
      </yaga-marker>

    </yaga-map>

  </mat-drawer-content>
</mat-drawer-container>
