<div *ngIf="obsVisiteUser | async as Visites">
  <a href="https://pi-g8-miage.web.app/jouer" class="btn btn-outline-dark">Visiter un lieu</a>
  <div *ngIf="Visites.length>0; else elseBlock">
<h1 style="text-align: center">
  Gestion de vos visites!
</h1>
<table class="table table-hover" >
  <thead class="thead-dark">
    <tr>
      <th>Visite</th>
      <th>Défi</th>
      <th>Score</th>
      <th>Temps</th>
      <th>Commentaire</th>
      <th>Date de la visite</th>
    </tr>
  </thead>
  <tbody>
    <tr  style="cursor: pointer;" *ngFor="let visite of Visites">
      <td>{{ visite.id_vis }}</td>
      <td>{{ visite.defiAssocie.titre}}</td>
      <td>{{ visite.pts_vis }} / {{visite.score_vis}}</td>
      <td>{{ visite.temps_vis }}</td>
      <td>{{ visite.commentaire }}</td>
      <td>{{ visite.date_vis }}</td>

    </tr>
  </tbody>
</table>
</div>
<ng-template #elseBlock>
  <br/><br/>
  <div class="alert alert-warning" role="alert" >
  <p style="cursor: pointer;"><b>Vous n'avez aucune visite</b></p>
</div>
</ng-template>

</div>

