<a href="http://localhost:4200/creer_defi" class="btn btn-outline-dark">+ Ajouter un défi</a>
<br/><br/>
<table class="table" *ngIf="obsChallUser | async as Defis" class="table">
  <thead class="thead-dark">
    <tr>
      <th>Defi</th>
      <th>Titre</th>
      <th>Date de creation</th>
      <th>Date de modification</th>
    </tr>
  </thead>
  <tbody>
    <tr (click)="editedModeForDefi(Defi)" *ngFor="let Defi of Defis">
      <td>{{ Defi.defi }}</td>
      <td>{{ Defi.titre }}</td>
      <td>{{ Defi.dateDeCreation }}</td>
      <td *ngIf="Defi.dateDeModification !== ''">{{ Defi.dateDeModification }}</td>
      <td *ngIf="Defi.dateDeModification === ''">Aucune modification</td>
    </tr>
  </tbody>
</table>

<!--METTRE EN PLACE DES PARTIALS-->
<!--METTRE EN PLACE LIST ARRET-->
<section *ngIf="defi_edited !== null && (obsMotClef | async)">
  <form (ngSubmit)="updateDefi(defi_edited.defi,titreDefi.value,defi_edited.dateDeCreation, descriptionDefi.value,defi_edited.auteur,defi_edited.code_arret,defi_edited.type, versionDefi.value,defi_edited.arret, pointsDefi.value, dureeDefi.value, prologueDefi.value, epilogueDefi.value, commentaireDefi.value, inputMotClef.value)">
    <hr />
    <h3 style="text-align: center;"><b>Edition du défi : {{ defi_edited.defi }}</b></h3>
    <div class="form-row">
    <div class="form-group col-md-6">
      <label>Titre : </label>
      <input #titreDefi class="form-control" name="titreDefi" type="text" placeholder="Titre" value="{{ defi_edited.titre }}" />
    </div>
    </div>
    <div class="form-group">
      <label>Description : </label>
      <textarea #descriptionDefi class="form-control" name="InputDescription" value="{{ defi_edited.description }}" rows="3"></textarea>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
      <label>Version : </label>
      <input #versionDefi class="form-control" name="versionDefi" type="number" placeholder="Version" value="{{ defi_edited.version }}"  />
      </div>
      <div class="form-group col-md-6">
        <label>Points : </label>
        <input #pointsDefi class="form-control" name="pointsDefi" type="number" placeholder="Points" value="{{ defi_edited.points }}" />
      </div>
      <div class="form-group col-md-6">
        <label>Durée : </label>
        <input #dureeDefi class="form-control" name="dureeDefi" type="text" placeholder="Durée" value="{{ defi_edited.duree }}" />
      </div>
    </div>

    <label>Prologue : </label>
    <textarea #prologueDefi class="form-control" id="exampleFormControlTextarea1" rows="3" value="{{ defi_edited.prologue }}" ></textarea>

    <label>Epilogue : </label>
    <textarea #epilogueDefi class="form-control" id="exampleFormControlTextarea1" rows="3" value="{{ defi_edited.epilogue }}" ></textarea>

    <label>Commentaire : </label>
    <textarea #commentaireDefi class="form-control" id="exampleFormControlTextarea1" rows="3" value="{{ defi_edited.commentaire }}" ></textarea>


    <br/>
    <section *ngIf="(obsQuestion | async)">
<!-- ################################QUESTION################################ -->
<h4>Questions</h4>
<div class="rounded border">
<div class="table-responsive-lg">
<table class="table table-hover">
<thead>
  <tr>
    <th scope="col">Label</th>
    <th scope="col">Question</th>
    <th scope="col">Secret</th>
    <th scope="col">Points</th>
    <th scope="col">Modifier</th>
    <th scope="col">Supprimer</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let question of questionsEdit; let index = index;">
    <th scope="row">Q{{index+1}}</th>
    <td *ngIf="labelEditedQuestion!==question.description_qst" (dblclick)="editMode(question.description_qst)">{{question.description_qst}} </td>
    <td *ngIf="labelEditedQuestion===question.description_qst"><input type="text" #newQuestion value="{{question.description_qst}}">
      <button type="submit" class="btn btn-outline-success" (click)="editQuestion(newQuestion.value,index)">Valider</button></td>

      <td *ngIf="labelEditedQuestion!==question.description_qst" (dblclick)="editMode(question.description_qst)">{{question.secret_qst}} </td>
    <td *ngIf="labelEditedQuestion===question.description_qst"><input type="text" #newSecret value="{{question.secret_qst}}">
      <button type="submit" class="btn btn-outline-success" (click)="editSecret(newSecret.value,index)">Valider</button></td>


      <td *ngIf="labelEditedQuestion!==question.description_qst" (dblclick)="editModeQuestion(question.description_qst)">{{question.points_qst}} </td>
      <td *ngIf="labelEditedQuestion===question.description_qst"><input type="number" #newPointsQuestion value="{{question.points_qst}}">
        <button type="submit" class="btn btn-outline-success" (click)="editQuestionPoints(newPointsQuestion.value,index)">Valider</button></td>

    <td *ngIf="labelEditedQuestion!==question.description_qst"><button type="submit" class="btn btn-outline-secondary" (click)="editModeQuestion(question.description_qst)">Editer</button></td>
    <td *ngIf="labelEditedQuestion===question.description_qst"><button type="submit" class="btn btn-outline-warning  " (click)="editQuestionAnnule()">Annuler</button></td>
    <td>
      <button class="btn btn-outline-danger" (click)="deleteQuestion(index)">Supprimer</button>
    </td>
  </tr>
</tbody>
</table>
<div class="form-group">
  <input type="text" #question class="form-control" placeholder="Question">
  <br/>
  <input type="text" #secret class="form-control" placeholder="Secret">
  <br/>
  <input type="number" #pointsQuestion class="form-control" placeholder="Points">
  <br/>
  <input type="button" value="Ajouter une question" class="btn btn-secondary pull-right"(click)="addQuestion(question.value,secret.value,pointsQuestion.value)"/>
  <br/>
</div>
</div>
</div>
    </section>


    <section *ngIf="obsIndice | async as tst">
<!-- ################################INDICE################################ -->
<h4>Indices</h4>
<div class="rounded border">
<div class="table-responsive-lg">
<table class="table table-hover">
<thead>
  <tr>
    <th scope="col">Label</th>
    <th scope="col">Indice</th>
    <th scope="col">Points</th>
    <th scope="col">Modifier</th>
    <th scope="col">Supprimer</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let indice of indicesEdit let index = index;">
    <th scope="row">I{{index+1}}</th>
    <td *ngIf="labelEdited!==indice.label_ind" (dblclick)="editMode(indice.label_ind)">{{indice.description_ind}} </td>
    <td *ngIf="labelEdited===indice.label_ind"><input type="text" #newIndice value="{{indice.description_ind}}">
      <button  class="btn btn-outline-success" (click)="editIndice(newIndice.value,index)">Valider</button></td>
      <td *ngIf="labelEdited!==indice.label_ind" (dblclick)="editMode(indice.label_ind)">{{indice.points_ind}} </td>
      <td *ngIf="labelEdited===indice.label_ind"><input type="text" #newPoints value="{{indice.points_ind}}">
        <button  class="btn btn-outline-success" (click)="editIndicePoints(newPoints.value,index)">Valider</button></td>
    <td *ngIf="labelEdited!==indice.label_ind"><button  class="btn btn-outline-secondary" (click)="editMode(indice.label_ind)">Editer</button></td>
    <td *ngIf="labelEdited===indice.label_ind"><button  class="btn btn-outline-warning  " (click)="editIndiceAnnule()">Annuler</button></td>
    <td>
      <button class="btn btn-outline-danger" (click)="deleteElement(index)">Supprimer</button>
    </td>
  </tr>
</tbody>
</table>
<div class="form-group">
  <input type="text" #indice class="form-control" placeholder="Indice">
  <br/>
  <input type="number" #points class="form-control" placeholder="Points">
  <br/>
  <input type="button" value="Ajouter un indice" class="btn btn-secondary pull-right"(click)="addElement(indice.value,points.value)"/>
  <br/>
</div>

</div>
</div>
<br/>
<!-- ################################INDICE################################ -->
</section>
<label for="basic-url">Veuillez saisir les mots clefs associés au défi en les séparant avec un espace.</label>
  <input #inputMotClef type="text" class="form-control"  placeholder="Entrez les mots clefs séparés par des espaces." value="{{getMotClef()}}"/>
<br/>
    <button class="btn btn-outline-success" type="submit"><i class="fa fa-check "></i>Modifier</button>
  </form>
  <br/>
  <button (click)="deleteDefi(defi_edited)" class="btn btn-outline-danger"><i class="fa fa-trash"></i>Supprimer</button>
</section>
